@()

<h4 class="muted">Collections</h4>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Users</li>
    <li><a href="#">View All</a></li>
    <li><a href="#">Upload</a></li>
    <li><a href="#">Manage Indices</a></li>
    <li class="nav-header">Airports</li>
    <li><a href="#">View All</a></li>
    <li><a href="#">View Entries with Info</a></li>
    <li><a href="#">Upload</a></li>
    <li><a href="#">Manage Indices</a></li>
    <li class="nav-header">Airlines</li>
    <li><a href="#">View All</a></li>
    <li><a href="#">View Entries with Info</a></li>
    <li><a href="#">Upload</a></li>
    <li><a href="#">Manage Indices</a></li>
    <li class="nav-header">Flights</li>
    <li><a href="#">View All</a></li>
    <li><a href="#">Upload</a></li>
    <li><a href="#">Manage Indices</a></li>
    <li class="nav-header">Geo POI</li>
    <li><a href="@controllers.admin.routes.POI.query">Query</a></li>
    <li><a href="@controllers.admin.routes.POI.upload">Upload</a></li>
    <li><a href="#">Manage Indices</a></li>
  </ul>
</div><!--/.well -->
