body.img-bg {
  background: url('../images/airplane_bg.jpg') no-repeat;
}

.jumbotron {
  height: 500px;
}

.flight-selection {
  background-color: rgba(225,225,225,0.5);
  height: 350px;
}

.multiple-flights {
  background-color: rgba(225,225,225,0.5);
}

.over-img {
  background-color: rgba(225,225,225,0.5);
}
