@(flightForm: Form[(String, Int, JodaDateTime)])

@main("FlightSight")(imageBG = true) {

  <div id="marketingJumbotron" class="container jumbotron">

    <div class="caption span4">
      <h1>FlightSight</h1>
      <p>On a flight?  Bored?  Find out what's outside your window.  Enter your flight details to the right.</p>
    </div>

    <div class="span4 offset3">
      @views.html.flightSelector(flightForm)
    </div>

  </div>


  <div class="container marketing">

    <div class="row">
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>America at 30,000 Feet</h2>
        <p>The world outside your window in real time.  Receive live updates
           on the points of interest below your flight as you criss-cross the
           country.</p>
      </div><!-- /.span4 -->
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Pass the Time</h2>
        <p>Ever wondered what that lake off to the right of the plane was? 
           Wonder no more!  Find out exactly what you're flying over and never
           be bored in-flight again.
      </div><!-- /.span4 -->
      <div class="span4">
        <img class="img-circle" data-src="holder.js/140x140">
        <h2>Be the Expert</h2>
        <p>Impress your seatmates with intimate knowledge of the ground below.
        Who knows, maybe it'll make you lucky.
      </div><!-- /.span4 -->
    </div><!-- /.row -->

  </div>
    
}
