@(flight: Flight, originInfo: AirportInfo, destinationInfo: AirportInfo, airlineInfo: AirlineInfo)

@main(s"${airlineInfo.shortname} Flight ${flight.number}")(imageBG = false) {

  <div class="container">
    <div class="row">
      <div class="span12 page-header">
        <h1>
          @airlineInfo.shortname @flight.number
          <small>
              @originInfo.name &#9992; @destinationInfo.name
          </small>
        </h1>
      </div>
    </div>

    Hey, while this is in pre-pre-pre-alpha, the backend will stop tracking your flight after ten minutes.

    <div class="row hide">
      <div class="span12">
        <h4><span class="muted">Current Location:</span> <span id="currentLocation">Page, AZ</span></h4>
        <h4><span class="muted">Groundspeed:</span> <span id="groundspeed">532</span>MPH</h4>
        <h4><span class="muted">Altitude:</span> <span id="altitude">34544</span>FT</h4>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div id="map"></div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div id="count">0</div>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA58OF2AGFfvdnQaitbiuJmYv_femmDa-g&sensor=false"></script>
  @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/application").url)


}
