@(flights: List[(Flight, FlightAirportInfo)], airline: AirlineInfo, departureDate: JodaDateTime)

@main("Multiple Flights Found")(imageBG = true) {

  <h2>Multiple Flights Found</h2>

  <p>Multiple flights found for @airline.shortname flight @flights.head._1.ident on @departureDate.toLocalDate</p>

  <table class="table multiple-flights">

    <thead>
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Scheduled Depature Time</th>
        <th>Scheduled Arrival Time</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      
      @flights.map { case (flight, airports) =>
        <tr>
          <td>@flight.originCity</td>
          <td>@flight.destinationCity</td>
          <td>@DateTimeFormat.shortTime.print(flight.filedDepartureTime.withZone(airports.origin.timezone)) @airports.origin.timezone.getShortName(flight.filedDepartureTime.getMillis)</td>
          <td>@DateTimeFormat.shortTime.print(flight.filedArrivalTime.withZone(airports.destination.timezone)) @airports.destination.timezone.getShortName(flight.filedArrivalTime.getMillis)</td>
          <td><a class="btn"
                 href="@routes.Flights.map(airline.icao, airports.origin.icao, airports.destination.icao, flight.number, flight.filedDepartureTime)">Select</a></td>
        </tr>
      }

    </tbody>


  </table>

}
